.title{
    font-family: 'Open Sans',Arial,sans-serif;
    width: 655px;
    display: flex;
    justify-content: center;
    margin: 60px auto;
    flex-direction: column;
    text-align: center;
}
.title h2{
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 30px;
}
.title p{
    font-size: 17px;
    color: #626364;
    line-height: 1.8;
    padding: 0px 15px;
}