 .prod{
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
}
.lists{
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.lists div img{
    width: 250px;
    height: 250px;
}
.btn{
    display: flex;
    justify-content: center;
   flex-direction: row;
    margin-bottom: 30px;
}
.prod button:hover{
    background-color:#2F956D;
    color: white;
}
.prod button{
    font-family: 'Open Sans',Arial,sans-serif;
    font-size: 17px;
    transition: all 0.3s;
    padding: 10px 30px;
    align-items: center;
    justify-content: center;
    color: #2F956D;
    background-color: transparent;
    border: 1px solid #2F956D;
    margin: 7px;
    cursor: pointer;
    height: 45px;
    width: 101px;
}
.article{
    font-family: 'Open Sans',Arial,sans-serif;
    font-size: 17px;
    width: 280px;
    height: 516px;
    padding: 0px 15px;

}
.article h4{
    font-size: 1.3rem;
    font-weight: 400;
    color: #1A6692;
    margin-bottom: 15px;
}
.article p{
    text-align: left;
    color: #626364;
    line-height: 1.8;
    margin-bottom: 20px;
    font-size: 0.95rem;
}
.article span{
    font-size: 1.25rem;
    color: #2F956D;
    margin-bottom: 60px;
    line-height: 1.8;
}
/* .active{
    background-color: #2F956D !important;
    color: white !important;
} */



 