.head{padding-top: 400px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1200px;
    height: 460px;
    background-image: url("../../assets/images/simple-house-01.jpg") ;
    background-position: center;
    background-attachment: fixed;
    size: cover;
    position: absolute;
}
.welcome{
    font-family: 'Open Sans',Arial,sans-serif;
    width: 655px;
    display: flex;
    justify-content: center;
    margin: 60px auto;
    flex-direction: column;
    text-align: center;
}
h2{
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 30px;
}
.welcome p{
    font-size: 17px;
    color: #626364;
    line-height: 1.8;
    padding: 0px 15px;
}
.logo h1{
    font-family: 'Open Sans',Arial,sans-serif;
    font-size: 2.2rem;
    font-weight: 400;
    margin-bottom: 5px;
    color: white;
}
.logo h6{
    font-family: 'Open Sans',Arial,sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    color: white;
}
.nav ul{
display: flex;
flex-direction: row;
}
.nav li{
    width: 34px;
    height: 48px;
    padding: 0px 25px;
    font-family: 'Open Sans',Arial,sans-serif;
    font-size: 17px;
    color: white;
    list-style-type: none;
    
}
.nav li:hover{
    border-bottom: 1px solid white;
    padding-bottom: 10px;
}